<%= subscribe_to room_path(@room) %>

<div class="conversation col-md-offset-1">
	<div class="chatboxhead">
		<div class="chatboxtitle">
			<h1><%= @room.title %> </h1>
		</div>
		<br clear="all"/>
	</div>
	<div class="chatboxcontent">
		<% if @messages.any? %>
			<%= image_tag "spin.gif", style: "display:none;", class: "center-block loading-gif" %>
			<%= link_to "Load More", room_path(@room), class: "btn btn-danger center-block load-more" %>
			<%= render @messages %>
		<% end %>
	</div>
	<div class="chatboxinput">
		<%= form_for([@room, @new_message], remote: true, id: "room_form") do |f| %>
		<%= f.text_area :content, class: "chatboxtextarea", data: { rid: @room.id } %>
		<div class="chat-form-btns">    
			<%= f.submit "send", class: "btn btn-primary btn-lg btn-submit pull-right"%>
		</div><br clear="all"/>
		<% end %>
	</div>
</div>