<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h2>Edit Account</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: auth_settings_account_path, html: { method: :put, :multipart => true }) do |f| %>
          <%= render 'shared/error_messages', object: resource %>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Update", class: "btn btn-default btn-lg btn-block" %>
          </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <h3>Cancel my account</h3>
          <div class="row">
            <div class="col-md-3">
              <p>Unhappy?</p> 
            </div>
            <div class="col-md-9">
              <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger btn-sm", data: { confirm: "Are you sure?" }, method: :delete %>
            </div>
          </div>
      </div>
    </div>
    <%= link_to "Back", root_path, class: "btn btn-default" %>
    </br></br></br></br>
     
  </div>
</div>