<li class="list-group-item">
	<%= div_for room , class: "row" do%>
		<div class="col-md-4">
			<%= link_to "", room_path(room), class: "room_icon glyphicon glyphicon-home" %>
		</div>
		<div class="col-md-8">
			<h4>Room: <%= room.title %></h4>
			<% if room.creator == current_user %>
				<h5>Creator: You</h5>
				<%= link_to "x", room_path(room), method: :delete, remote: true, confirm: "Are u sure?" %>
			<% else %>
				<%= room.creator.nickname %>
			<% end %>
		</div>
	<% end %>
</li>