<li class="list-group-item">
	<%= div_for room , class: "row" do%>
		<div class="col-md-4">
			<%= link_to "", room_path(room), class: "room_icon glyphicon glyphicon-home" %>
		</div>
		<div class="col-md-6">
			<h4>Room: <%= room.title %></h4>
			<% if room.creator == current_user %>
				<h5>Creator: You</h5>
			<% else %>
				<h5>Creator: <%= room.creator.nickname %></h5>
			<% end %>
		</div>
		<div class="col-md-2">
			<% if room_creator?(room) %>
				<%= link_to "×", room_path(room), class: "delete-room-link", method: :delete, remote: true %>
			<% end %>
		</div>
	<% end %>
</li>