<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>Identify yourself!</h2>
    
    <%= render 'shared/error_messages', object: @user %>

    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for @user, url: wizard_path, html: { role: "form" } do |f| %>

          <div class="form-group">
            <%= f.label :nickname %>
            <%= f.text_field :nickname, autofocus: true, class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Continue", class: "btn btn-default btn-lg btn-block" %>
          </div>
        <% end %></br>

      </div>
    </div>
  </div>
</div>